.ghost {
     opacity: .3;
}
.skill {
    cursor: pointer;
}
.skill_in_canvas {
    cursor: pointer;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    background: rgba(255, 255, 255, .5);
}

.ui-accordion-header{
   /*background:black;*/
}
/*.ui-widget-header{*/
/*    background:rgba(255,255,255,0.7);*/
/*}*/
.ui-state-active.dx{
    background:rgba(255,255,255,0.7);
    border:1px solid #cccccc;
    color:#1c94c4;
    padding:.2em .2em .2em .3em;
    margin:0 0 0 0;
    text-align:center
}
.dx.highlight-skill{
    background-color: #ffff99;
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
}
 
#dxcanvas {
    border-color: grey;
    border-style: solid;
    border-width: 5px;
    width:100%;
    height:100%;
    margin:0;
 }
 
#myCanvas {
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    z-index:-1;
    /*width:100%;*/
    /*height:100%;*/
}

/*.row_skill {*/
/*	background-color:#44c767;*/
/*	-moz-border-radius:28px;*/
/*	-webkit-border-radius:28px;*/
/*	border-radius:28px;*/
/*	border:1px solid #18ab29;*/
/*	display:inline-block;*/
/*	cursor:pointer;*/
/*	color:#ffffff;*/
/*	font-family:Arial;*/
/*	font-size:17px;*/
/*	padding:16px 31px;*/
/*	text-decoration:none;*/
/*	text-shadow:0px 1px 0px #2f6627;*/
/*}*/
/*.row_skill:hover {*/
/*	background-color:#5cbf2a;*/
/*}*/
/*.row_skill:active {*/
/*	position:relative;*/
/*	top:1px;*/
/*}*/